*.DS_Store

vizsent/Sentibank
vizsent/models
vizsent/vids
vizsent/soumith/models

*.pyc
*.npz
*idea/
*.ipynb_checkpoints

*logs/
*checkpoints/

*data/
!*data/README.md

visual-tensorflow/website/shape/core
visual-tensorflow/website/shape/static/videos