<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Plot Shape</title>
    <script src="../static/jslibs/dat.gui.js"></script>
    <script src="/static/jslibs/jquery.min.js"></script>
    <script src="../static/jslibs/Chart.bundle.js"></script>
    <script src="../static/jslibs/chartjs.ext.conf.js"></script>
    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>

<body>
    <div id="plot"></div>
    <div width="800" height="400">
        <div style="max-width:800px; max-height:400px">
            <canvas id="chart" width="100%"></canvas>
        </div>
    </div>
    <div style="padding-left:275px;padding-top:50px" id="frame"></div>
    <div style="padding-left:275px;padding-top:50px" id="mp3"></div>

    <script type="text/javascript">
        /***************************************************************************************************************
        * Global variables
        ***************************************************************************************************************/
        var data = {{ data|safe }};     // load data from Flask using Jinja
        var chart;
        console.log(data);

        /***************************************************************************************************************
        * Set up dat gui
        ***************************************************************************************************************/
        var DatGui = function() {
            // Default values
            this.view = 'One video';

            // One Video View - intialize
            var oneVideo = {};
            oneVideo.format = 'films';
            oneVideo.dynamicRange = true;
            oneVideo.films = {};
            oneVideo.films.visualWindow = 600;
            oneVideo.films.audioWindow = 600;
            oneVideo.films.video = data.format2titles['films'][0];
            oneVideo.shorts = {};
            oneVideo.shorts.visualWindow = 60;
            oneVideo.shorts.audioWindow = 30;
            oneVideo.shorts.video = data.format2titles['shorts'][0];
            oneVideo.ads = {};
            oneVideo.ads.visualWindow = 1;
            oneVideo.ads.audioWindow = 1;
            oneVideo.ads.video = data.format2titles['ads'][0];
            this.oneVideo = oneVideo;

            // Clusters View - intialize
            var clusters = {};
            if (Object.keys(data.clusters).length > 0) {
                clusters.format = 'films';
                clusters.dynamicRange = true;
                clusters.k = Object.keys(data.clusters.films)[0];
                clusters.focusOnKth = 'all';
                this.clusters = clusters;

                this.availableViews = ['One video', 'Clusters'];
            } else {
                this.availableViews = ['One video'];
            }
        };

        /***************************************************************************************************************
        * On window load
        ***************************************************************************************************************/
        window.onload = function() {
            var datgui = new DatGui();
            var gui = new dat.GUI({width: 400});

            /***********************************************************************************************************
             * Manage views
             **********************************************************************************************************/
            var guiView = gui.add(datgui, 'view', datgui.availableViews);

            guiView.onFinishChange(function(view) {
                removeViewSpecificGUI();
                if (view == 'One video') {
                    addOneVideoGUI();
                    drawOneVideo(datgui);
                    showImage("static/videos/" + data.framepaths[0], 256, 256, '');
                    showMp3(data.mp3path);
                } else if (view == 'Clusters') {
                    removeFrame();
                    removeMp3();
                    addClustersGUI();
                    drawClusters(datgui);
                }
            });

            // Remove all but the first controller (the view controller)
            function removeViewSpecificGUI() {
                numControllers = gui.__controllers.length;
                for (var i = 0; i < numControllers - 1; i++) {
                    gui.__controllers[1].remove();
                }
            }

            /***********************************************************************************************************
             * One video view
             **********************************************************************************************************/
            function addOneVideoGUI() {
                // Set ranges, values
                var guiFormats = gui.add(datgui.oneVideo, 'format', ['films', 'shorts', 'ads']);
                var guiR = gui.add(datgui.oneVideo, 'dynamicRange');
                var guiVW = gui.add(datgui.oneVideo.films, 'visualWindow').min(1).max(1500).step(1);
                var guiAW = gui.add(datgui.oneVideo.films, 'audioWindow').min(1).max(1500).step(1);
                var guiV = gui.add(datgui.oneVideo.films, 'video', data.format2titles['films']);

                // Dat Gui Handlers
                guiFormats.onFinishChange(function(format) {
                    // Remove list of videos controller; add titles for that format; swap order of controllers to get back in place
                    gui.__controllers[3].remove();  // visual window
                    gui.__controllers[3].remove();  // audio window
                    gui.__controllers[3].remove();  // video
                    var guiFormatParams, windowMax;
                    if (format == 'films') {
                        guiFormatParams = datgui.oneVideo.films;
                        windowMax = 1500;
                    } else if (format == 'shorts') {
                        guiFormatParams = datgui.oneVideo.shorts;
                        windowMax = 150;
                    } else if (format == 'ads') {
                        guiFormatParams = datgui.oneVideo.ads;
                        windowMax = 15;
                    }
                    // Add controllers back
                    guiVW = gui.add(guiFormatParams, 'visualWindow').min(1).max(windowMax).step(1);
                    guiAW = gui.add(guiFormatParams, 'audioWindow').min(1).max(windowMax).step(1);
                    guiV = gui.add(guiFormatParams, 'video', data.format2titles[format]);
                    addFinishChangeHandlers(guiVW, guiAW, guiV);

                    // Get new predictions
                    getUpdatedPreds(guiFormatParams.video, guiFormatParams.visualWindow, guiFormatParams.audioWindow); }
                );
                function addFinishChangeHandlers(guiVW, guiAW, guiV) {
                    guiVW.onFinishChange(function(visualWindow) {
                        var title = datgui.oneVideo[datgui.oneVideo.format].video;
                        var audioWindow = datgui.oneVideo[datgui.oneVideo.format].audioWindow;
                        getUpdatedPreds(title, visualWindow, audioWindow);
                    });
                    guiAW.onFinishChange(function(audioWindow) {
                        var visualWindow = datgui.oneVideo[datgui.oneVideo.format].visualWindow;
                        var title = datgui.oneVideo[datgui.oneVideo.format].video;
                        getUpdatedPreds(title, visualWindow, audioWindow);
                    });
                    guiV.onFinishChange(function(title) {
                        var visualWindow = datgui.oneVideo[datgui.oneVideo.format].visualWindow;
                        var audioWindow = datgui.oneVideo[datgui.oneVideo.format].audioWindow;

                        // Window size may be too big for video
                        // Right now, in views.py, pred_len is calculated as the number of frame files
                        // However the actual length is ignores the credits
                        // Thus, this should be an upper bound
                        var nextVideoLen = data.title2pred_len[datgui.oneVideo.format][title];
                        if (nextVideoLen < visualWindow) {
                            console.log('Video too short for current window size, changing window size to 1/4 video length');
                            var shortened = Math.max(1, Math.round(visualWindow / 4));
                            datgui.oneVideo[datgui.oneVideo.format].visualWindow = shortened;
                            datgui.oneVideo[datgui.oneVideo.format].audioWindow = shortened;
                            guiVW.updateDisplay();
                            guiAW.updateDisplay();
                        }

                        getUpdatedPreds(title, visualWindow, audioWindow);
                    });
                }
                addFinishChangeHandlers(guiVW, guiAW, guiV);
                guiR.onFinishChange(function() { drawOneVideo(datgui); });
            }

            /***********************************************************************************************************
             * Clusters view
             **********************************************************************************************************/
            function addClustersGUI() {
                // Set ranges, initial values
                var validFormats = [];
                for (var fmt in data.clusters) {
                    if (Object.keys(data.clusters[fmt]).length > 0) {
                        validFormats.push(fmt);
                    }
                }
                var guiFormats = gui.add(datgui.clusters, 'format', validFormats);
                var guiR = gui.add(datgui.clusters, 'dynamicRange');
                var formatKClusters = data.clusters[datgui.clusters.format];
                var guiK = gui.add(datgui.clusters, 'k', Object.keys(formatKClusters));
                var guiFocusOnKth = gui.add(datgui.clusters, 'focusOnKth', ['all'].concat(getKIndices(datgui.clusters.k)));
                // Handlers
                guiFormats.onFinishChange(function(format) {
                    // Remove k-related controllers to get list of available k's for that format
                    gui.__controllers[4].remove();
                    gui.__controllers[3].remove();
                    var formatKClusters = data.clusters[datgui.clusters.format];
                    datgui.clusters.k =  Object.keys(formatKClusters)[0];
                    guiK = gui.add(datgui.clusters, 'k', Object.keys(formatKClusters));
                    datgui.clusters.focusOnKth =  'all';
                    guiFocusOnKth = gui.add(datgui.clusters, 'focusOnKth', ['all'].concat(getKIndices(datgui.clusters.k)));

                    addFinishChangeHandlers(guiK, guiFocusOnKth);
                    drawClusters(datgui);
                });
                function addFinishChangeHandlers(guiK, guiFocusOnKth) {
                    guiK.onFinishChange(function() {
                        // Remove and add focusOnKth to have proper range
                        gui.__controllers[4].remove();
                        datgui.clusters.focusOnKth =  'all';
                        guiFocusOnKth = gui.add(datgui.clusters, 'focusOnKth', ['all'].concat(getKIndices(datgui.clusters.k)));

                        addFinishChangeHandlers(guiK, guiFocusOnKth);
                        drawClusters(datgui);
                    });
                    guiFocusOnKth.onFinishChange(function() { drawClusters(datgui); });
                }
                addFinishChangeHandlers(guiK, guiFocusOnKth);
                guiR.onFinishChange(function() { drawClusters(datgui); });

                // Return array [0,k-1] (i.e. indices of centroids)
                function getKIndices(k) {
                    var indices = [];
                    for (var i = 0; i < k; i++) {
                        indices.push(i);
                    }
                    return indices
                }
            }


            /***********************************************************************************************************
             * Draw initial
             **********************************************************************************************************/
            addOneVideoGUI();
            showImage("static/videos/" + data.framepaths[0], 256, 256, '');
            showMp3(data.mp3path);
            drawOneVideo(datgui);

            /***********************************************************************************************************
             * Some other handlers (should probably be moved somewhere)
             **********************************************************************************************************/
            function getUpdatedPreds(title, visualWindow, audioWindow) {
                $.ajax({
                    url: '/api/pred/' + title + '/' + visualWindow + '/' + audioWindow,
                    type: 'GET',
                    success: function(resp) {
                        reset_and_redraw(resp, redraw_callback);
                    },
                    error: function(xhr, status, err) {
                        console.log(err);
                    }
                })
            }
            function reset_and_redraw(resp, redraw_callback) {
                data.preds = resp.preds;
                data.framepaths = resp.framepaths;
                data.mp3path = resp.mp3path;
                redraw_callback();
            }
            function redraw_callback() {
                showImage("static/videos/" + data.framepaths[0], 256, 256, '');
                showMp3(data.mp3path);
                drawOneVideo(datgui);
            }
        }


        /***************************************************************************************************************
        * Utility functions
        ***************************************************************************************************************/
        function showImage(src, width, height, alt) {
            var frameElement = document.getElementById("frame");
            if (frameElement.firstChild) {      // if image element already exists
                frameElement.firstChild.src = src;
            } else {                            // make element and append to DOM
                var img = document.createElement("img");
                img.src = src;
                img.width = width;
                img.height = height;
                img.alt = alt;
                frameElement.appendChild(img);
            }
        }
        function removeFrame() {
            $('img').remove();
        }

        function showMp3(mp3path) {
            // Remove mp3
            removeMp3();
            // Add if there's a valid mp3path
            if (mp3path != "") {
                var audio = document.createElement('audio');
                audio.src = "static/videos/" + mp3path;
                audio.controls = "controls";
                audio.style = "vertical-align: middle;";
                var mp3Element = document.getElementById("mp3");
                mp3Element.appendChild(audio);
            }
        }
        function removeMp3() {
            $('audio').remove();
        }

        // Downsample time series in order to prevent aliasing
        function downsampleTimeseries(timeseries, downsample_rate) {
            var downsampled = [];
            for (var i = 0; i < timeseries.length; i += downsample_rate) {
                downsampled.push(timeseries[i]);
            }
            return downsampled;
        }

        function openInNewTab(url) {
            var win = window.open(url, '_blank');
            // win.focus();
        }
        // Remove initial frames for clusters view. The low initial values (due to opening credits) increases the range,
        // making the cluster look very flat when focusOnKth
        function removeStartEndNvals(timeseries, nstart, nend) {
            var initial_removed = [];
            for (var i = nstart; i < timeseries.length - nend; i+= 1) {
                initial_removed.push(timeseries[i]);
            }
            return initial_removed;
        }

        /***************************************************************************************************************
        * Draw chart for one image view - show images on hover
        ***************************************************************************************************************/
        function drawOneVideo(datgui) {
            var DOWNSAMPLE_RATE = datgui.oneVideo.format == 'films' ? 1 : 1; // not downsampling right now

            // Each label is the timestamp hr:min:sec in the video
            function getLabels(data) {
                var numSec = data.length;
                var labels = [];
                for (var i = 0; i < numSec; i++) {
//                    labels.push(formatSeconds(i));
                    labels.push(i);
                }
                return labels;
            }
            function formatSeconds(seconds) {
                var date = new Date(null);
                date.setSeconds(seconds); // specify value for SECONDS here
                return date.toISOString().substr(11, 8);
            }

            // Each object in dataset array corresponds to one line
            // e.g. one line for each emotion
            var dataset = [];
            var COLORS = ["rgba(15,171,182,0.75)", "rgba(216,122,21,0.75)"];
            for (var key in data.preds) {   // e.g. audio, visual
                if (key == 'visual') {
                    dataset.push({
                        label: 'visual-valence',
                        data: downsampleTimeseries(data.preds[key]['pos'], DOWNSAMPLE_RATE),
                        borderColor: COLORS[0],
                        backgroundColor: COLORS[0],
                        borderWidth: 0.1
//                        width: downsampleTimeseries(data.preds[key]['std'], DOWNSAMPLE_RATE),
//                        fill: false
                    });
                } else if (key == 'audio') {
//                    dataset.push({
//                        label: 'audio-valence',
////                        borderWidth: 0.1,
//                        data: downsampleTimeseries(data.preds[key]['pos'], DOWNSAMPLE_RATE),
//                        width: downsampleTimeseries(data.preds[key]['std'], DOWNSAMPLE_RATE),
//                        borderColor: COLORS[1],
//                        backgroundColor: COLORS[1],
//                        fill: false
//                    });
                    dataset.push({
                        label: 'audio-valence_lower-bound',
                        borderWidth: 0.5,
                        data: downsampleTimeseries(data.preds[key]['pos_lower'], DOWNSAMPLE_RATE),
                        borderColor: COLORS[1],
                        fill: false
                    });
                    dataset.push({
                        label: 'audio-valence',
                        borderWidth: 2.0,
                        data: downsampleTimeseries(data.preds[key]['pos'], DOWNSAMPLE_RATE),
                        borderColor: COLORS[1],
                        fill: false
                    });
                    dataset.push({
                        label: 'audio-valence_upper-bound',
                        borderWidth: 0.5,
                        data: downsampleTimeseries(data.preds[key]['pos_upper'], DOWNSAMPLE_RATE),
                        borderColor: COLORS[1],
                        fill: false
                    });
                }
            }

            // Use first set
            var firstData = data.preds[Object.keys(data.preds)[0]];
            firstData = firstData[Object.keys(firstData)[0]];
            var labels = getLabels(firstData);
            labels = downsampleTimeseries(labels, DOWNSAMPLE_RATE);
            var chartData = {
                labels: labels,
                datasets: dataset
            };
            console.log(chartData);

            // Options
            var options = {
                global: {
                    responsive: true,
                    maintainAspectRatio: false
                },
                elements: {   // Don't show individual points on line graph
                    point:{
                        radius: 0
                    }
                },
                tooltips: {     // tooltip for points on current mouse x-axis position
                    mode: 'index',
                    intersect: false
                },
                scales: {
                    xAxes: [{
                        ticks: {
                          autoSkipPadding: 50
                        }
                    }],
                    yAxes: datgui.oneVideo.dynamicRange ? [] : [{   // Y-axis from 0 to 1
                        ticks: {
                            min: 0.0,
                            max: 1.0
                        }
                    }]
                },
                hover: {
                    onHover: function (e) {
                        if (e[0]) {
                            var frameIdx = e[0]._index;
                            showImage("static/videos/" + data.framepaths[frameIdx * DOWNSAMPLE_RATE]
                                    , 256, 256, '');
                        }
                    },
                    mode: 'index',
                    intersect: false
                },
                animation: {
                    duration: 0
                }
            };

            var ctx = $("#chart");
            if (chart) {
                chart.destroy();
            }
            chart = new Chart(ctx, {
                type: 'line',
                data: chartData,
                options: options
            });

            // Attempt to use stripe
//            var config = {
//                type: 'stripe',
//                data: chartData,
//                options: options
//            };
//            var ctx = document.getElementById("chart").getContext("2d");
////            if (chart) {
////                chart.destroy();
////            }
//            chart = new Chart(ctx, config);
//            console.log(ctx);
//            console.log(config);

            // Attach handler to open vimeo for shorts
            if (datgui.oneVideo.format == 'shorts') {
                openVimeoOnFrameClick();
            }
            function openVimeoOnFrameClick() {
                $("img").click(function(evt){
                    var title = datgui.oneVideo.shorts.video;
                    title = title.split('_');
                    var id = title[title.length - 1];
                    var url = 'http://vimeo.com/' + id;
                    openInNewTab(url);
                });
                $("img").hover(
                    function() {
                        $("#frame").css("cursor", "pointer");
                    }
                );
            }
        }

        /***************************************************************************************************************
        * Draw chart for cluster view
        ***************************************************************************************************************/
        function drawClusters(datgui) {
            var COLORS = [
                [78, 179, 211],   // blue
                [252, 78, 42],    // red
                [221, 52, 151],   // magenta
                [8, 64, 129],     // dark blue
                [65, 174, 118],   // green
                [128, 0, 38],     // dark burnt red
                [250, 159, 181],  // peach/pink
                [254, 178, 76],   // orange / yellow
                [73, 0, 106],     // dark violet
                [0, 109, 44]      // dark green
            ];
            var DOWNSAMPLE_RATE = datgui.clusters.format == 'films' ? 45 : 10;
            var REMOVE_NSTART = datgui.clusters.format == 'films' ? 180 : 60;
            var REMOVE_NEND = datgui.clusters.format == 'films' ? 180 : 60;

            // Get dataset
            // Each object in dataset array corresponds to one line
            var dataset = [];
            var curClusters = data.clusters[datgui.clusters.format][datgui.clusters.k];
            for (var i = 0; i < curClusters.centroids.length; i++) {
                // Skip if focusOnKth but not focusing on this centroid
                if (datgui.clusters.focusOnKth != 'all') {
                    if (i != datgui.clusters.focusOnKth) {
                        continue;
                    }
                }
                // Add point
                var rgb = COLORS[i];
                dataset.push({
                    label: i,
                    data: downsampleTimeseries(
                            removeStartEndNvals(
                                    curClusters.centroids[i],
                                    REMOVE_NSTART, REMOVE_NEND),
                            DOWNSAMPLE_RATE),
                    borderWidth: 2,
                    borderColor: getRGBA(rgb[0], rgb[1], rgb[2], 0.75),
                    backgroundColor: getRGBA(rgb[0], rgb[1], rgb[2], 0.05),
//                    fill: true
                });
            }

            // Display assignments if focusOnKth
            // TODO: show closest points
            // For films - just show first 10
            if (datgui.clusters.focusOnKth != 'all') {
                var clusters = data.clusters[datgui.clusters.format];
                var closestMemberIndices = clusters[datgui.clusters.k].closest[datgui.clusters.focusOnKth];
                console.log(closestMemberIndices);
                for (var i = 0; i < closestMemberIndices.length; i++) {
                    var idx = closestMemberIndices[i];
                    var title = data.ts_idx2title[datgui.clusters.format][idx];
                    var series = data.ts[datgui.clusters.format][idx];
                    console.log(title);

                    var hex = getRandomHexColor();
                    var rgb = hexToRGB(hex);
                    var rgba = getRGBA(rgb.r, rgb.g, rgb.b, 0.2);
                    dataset.push({
                        label: title,
                        data: downsampleTimeseries(
                                removeStartEndNvals(
                                        series,
                                        REMOVE_NSTART, REMOVE_NEND),
                                DOWNSAMPLE_RATE),
                        borderWidth: 1,
                        borderColor: rgba,
                        backgroundColor: rgba,
                        fill: false
                    });
                }
            }
            var labels = [];
            for (var i = 0; i < dataset[0].data.length; i++) {
                labels.push(i);
            }
            var chartData = {
                labels: labels,
                datasets: dataset
            };

            // Utility to generator colors
            function getRandomHexColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

            function hexToRGB(hex) {
                var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
                return result ? {
                    r: parseInt(result[1], 16),
                    g: parseInt(result[2], 16),
                    b: parseInt(result[3], 16)
                } : null;
            }

            function getRGBA(r, g, b, opacity) {
                return "rgba(" + r + "," + g + "," + b + "," + opacity + ")";
            }

            // Options for chartjs
            var options = {
                global: {
                    responsive: false,
                    maintainAspectRatio: false,
                    responsiveAnimationDuration: 0
                },
                elements: {   // Don't show individual points on line graph
                    point: {
                        radius: 0
                    }
                },
                tooltips: {     // tooltip for points on current mouse x-axis position
                    mode: datgui.clusters.focusOnKth == 'all' ? 'index' : 'nearest',
                    intersect: datgui.clusters.focusOnKth == 'all' ? false : true
                },
                scales: {
                    xAxes: [{
                        display: false
                    }],
                    yAxes: datgui.clusters.dynamicRange ? [] : [{   // Y-axis from 0 to 1
                        ticks: {
                            min: 0.0,
                            max: 1.0
                        }
                    }]
                },
                hover: {
                    onHover: function(e) {
                        if (datgui.clusters.format == 'shorts') {
                            $("#chart").css("cursor", e[0] ? "pointer" : "default");
                        }
                    }
                },
                animation: {
                    duration: 0
                }
            };

            var ctx = $("#chart");
            if (chart) {
                chart.destroy();
            }
            chart = new Chart(ctx, {
                type: 'line',
                data: chartData,
                options: options
            });

            // Attach handler to open vimeo for shorts
            if (datgui.clusters.format == 'shorts') {
                openVimeoOnTimeseriesClick();
            }
            function openVimeoOnTimeseriesClick() {
                $("#chart").click(function(evt){
                    console.log(datgui.clusters.format);
                    var element = chart.getElementAtEvent(evt);
                    if (typeof element[0] != 'undefined') {
                        var title = chart.data.datasets[element[0]._datasetIndex].label;
                        if (isNotNumeric(title)) {        // skip if accidentally clicked on centroid line
                            title = title.split('_');
                            var id = title[title.length - 1];
                            var url = 'http://vimeo.com/' + id;
                            openInNewTab(url);
                        }
                    }
                });
                function isNotNumeric(str) {
                    return isNaN(parseInt(str));
                }
            }
        }

    </script>
</body>
</html>