<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Plot Shape</title>
    <script src="../static/jslibs/dat.gui.js"></script>
    <script src="/static/jslibs/jquery.min.js"></script>
    <script src="../static/jslibs/Chart.bundle.js"></script>
    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>

<body>
    <div id="plot"></div>
    <div style="max-width:800px; max-height:400px">
        <canvas id="chart" width="800" height="400"></canvas>
    </div>
    <div style="padding-left:222px;padding-top:50px" id="frame"></div>
    <script type="text/javascript">
        // Global variables 
        var data = {{ data|safe }};     // load data from Flask using Jinja
        var myLineChart;
        console.log(data);
      
        // Set up dat.gui
        var DatGui = function() {
            this.message = 'dat.gui';
            this.windowSize = 200;
            this.video = data.titles[0];
            this.dynamicRange = true;
        };

        window.onload = function() {
            var datgui = new DatGui();
            var gui = new dat.GUI();
            guiW = gui.add(datgui, 'windowSize').min(1).max(2500).step(1);
            guiV = gui.add(datgui, 'video', data.titles);
            guiR = gui.add(datgui, 'dynamicRange');

            guiW.onFinishChange(function(windowSize) { getUpdatedPreds(); });
            guiV.onFinishChange(function(title) { getUpdatedPreds(); });
            guiR.onFinishChange(function() { drawChart(datgui); });

            show_image("../static/videos/" + data.framepaths[0], 256, 256, '');
            drawChart(datgui);

            function getUpdatedPreds() {
                $.ajax({
                    url: '/api/pred/' + datgui.video + '/' + datgui.windowSize,
                    type: 'GET',
                    success: function(resp) {
                        reset_and_redraw(resp, redraw_callback);
                    },
                    error: function(xhr, status, err) {
                        console.log(err);
                    }
                })
            }

            function reset_and_redraw(resp, redraw_callback) {
                data.preds = resp.preds;
                data.framepaths = resp.framepaths;
                redraw_callback();
            }
            function redraw_callback() {
                show_image("/static/videos/" + data.framepaths[0], 256, 256, '');
                drawChart(datgui);
            }
        };

        
    </script>

    <script>
        function drawChart(datgui) {
            // Each label is the timestamp hr:min:sec in the video
            function getLabels(data) {
                var numSec = data.length;
                var labels = [];
                for (var i = 0; i < numSec; i++) {
                  labels.push(formatSeconds(i));
                }
                return labels;
            }
            function formatSeconds(seconds) {
                var date = new Date(null);
                date.setSeconds(seconds); // specify value for SECONDS here
                return date.toISOString().substr(11, 8);
            }

            // Each object in dataset array corresponds to one line
            // e.g. one line for each emotion
            var dataset = [];
            for (var key in data.preds) {
                dataset.push({
                    label: key,
                    borderWidth: 0.1,
                    data: data.preds[key],
                    backgroundColor: "rgba(32, 61, 112, 0.4)"
                })
            }
            // Use first set
            var labels = getLabels(data.preds[Object.keys(data.preds)[0]]);     
            var chartData = {
                labels: labels,
                datasets: dataset
            };

            // Options
            var options = {
                global: {
                    responsive: true,
                    maintainAspectRatio: false
                },
                elements: {   // Don't show individual points on line graph
                    point:{
                        radius: 0
                    }
                },
                tooltips: {     // tooltip for points on current mouse x-axis position
                    mode: 'index',
                    intersect: false
                },
                scales: {
                    xAxes: [{
                        ticks: {
                          autoSkipPadding: 50
                        }
                    }],
                    yAxes: datgui.dynamicRange ? [] : [{   // Y-axis from 0 to 1
                        ticks: {
                            min: 0.0,
                            max: 1.0
                        }
                    }]
                },
                hover: {
                    onHover: function (e) {
                        if (e[0]) {
                            var frameIdx = e[0]._index;
                            show_image("../static/videos/" + data.framepaths[frameIdx], 256, 256, '');
                        }
                    },
                    mode: 'index',
                    intersect: false
                },
                animation: {
                    duration: 0
                }
            };

            var ctx = $("#chart");
            if (myLineChart) {
                myLineChart.destroy();
            }
            myLineChart = new Chart(ctx, {
                type: 'line',
                data: chartData,
                options: options,
            });
        }

        function show_image(src, width, height, alt) {
            var frameElement = document.getElementById("frame");
            if (frameElement.firstChild) {      // if element already exists
                frameElement.firstChild.src = src;
            } else {                            // make element and append to DOM
                var img = document.createElement("img");
                img.src = src;
                img.width = width;
                img.height = height;
                img.alt = alt;
                frameElement.appendChild(img);
            }
        }
    </script>
</body>
</html>