<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Plot Shape</title>
    <script src="../static/jslibs/dat.gui.js"></script>
    <script src="/static/jslibs/jquery.min.js"></script>
    <script src="../static/jslibs/Chart.bundle.js"></script>
    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>

<body>
    <div id="plot"></div>
    <div style="max-width:800px; max-height:400px">
        <canvas id="chart" width="800" height="400"></canvas>
    </div>
    <div style="padding-left:222px;padding-top:50px" id="frame"></div>
    <script type="text/javascript">
        // Global variables 
        var data = {{ data|safe }};     // load data from Flask using Jinja
        var myLineChart;
        console.log(data);
      
        // Set up dat.gui
        var DatGui = function() {
            // Default values
            this.formats = 'film';
            this.dynamicRange = true;
            this.films = {};
            this.films.windowSize = 600;
            this.films.video = data.format2titles['film'][0];
            this.shorts = {};
            this.shorts.windowSize = 60;
            this.shorts.video = data.format2titles['short'][0];
        };

        window.onload = function() {
            var datgui = new DatGui();
            var gui = new dat.GUI();

            /*** ONE VIDEO VIEW ***/
            // Set ranges, values
            var guiFormats = gui.add(datgui, 'formats', ['film', 'short']);
            var guiR = gui.add(datgui, 'dynamicRange');
            var guiW = gui.add(datgui.films, 'windowSize').min(1).max(1500).step(1);
            var guiV = gui.add(datgui.films, 'video', data.format2titles['film']);

            // Dat Gui Handlers
            guiFormats.onFinishChange(function(format) {
                // Remove list of videos controller; add titles for that format; swap order of controllers to get back in place
                gui.__controllers[2].remove();  // window
                gui.__controllers[2].remove();  // video
                var guiFormatParams, windowMax;
                if (format == 'film') {
                    guiFormatParams = datgui.films;
                    windowMax = 1500;
                } else if (format == 'short') {
                    guiFormatParams = datgui.shorts;
                    windowMax = 150;
                }
                guiW = gui.add(guiFormatParams, 'windowSize').min(1).max(windowMax).step(1);
                guiV = gui.add(guiFormatParams, 'video', data.format2titles[format]);
                addFinishChangeHandlers(guiW, guiV);

                // Get new predictions
                getUpdatedPreds(guiFormatParams.video, guiFormatParams.windowSize); }
            );
            function addFinishChangeHandlers(guiW, guiV) {
                guiW.onFinishChange(function(windowSize) {
                    var title = datgui.formats == 'film' ? datgui.films.video : datgui.shorts.video;
                    getUpdatedPreds(title, windowSize);
                });
                guiV.onFinishChange(function(title) {
                    var windowSize = datgui.formats == 'film' ? datgui.films.windowSize : datgui.shorts.windowSize;
                    getUpdatedPreds(title,windowSize);
                });
            }
            addFinishChangeHandlers(guiW, guiV);
            guiR.onFinishChange(function() { drawChart(datgui); });

            // Draw initial
            show_image("../static/videos/" + data.framepaths[0], 256, 256, '');
            drawChart(datgui);

            // Handlers
            function getUpdatedPreds(title, windowSize) {
                $.ajax({
                    url: '/api/pred/' + title + '/' + windowSize,
                    type: 'GET',
                    success: function(resp) {
                        reset_and_redraw(resp, redraw_callback);
                    },
                    error: function(xhr, status, err) {
                        console.log(err);
                    }
                })
            }
            function reset_and_redraw(resp, redraw_callback) {
                data.preds = resp.preds;
                data.framepaths = resp.framepaths;
                redraw_callback();
            }
            function redraw_callback() {
                show_image("/static/videos/" + data.framepaths[0], 256, 256, '');
                drawChart(datgui);
            }
        };

        
    </script>

    <script>
        function drawChart(datgui) {
            // Each label is the timestamp hr:min:sec in the video
            function getLabels(data) {
                var numSec = data.length;
                var labels = [];
                for (var i = 0; i < numSec; i++) {
                  labels.push(formatSeconds(i));
                }
                return labels;
            }
            function formatSeconds(seconds) {
                var date = new Date(null);
                date.setSeconds(seconds); // specify value for SECONDS here
                return date.toISOString().substr(11, 8);
            }

            // Each object in dataset array corresponds to one line
            // e.g. one line for each emotion
            var dataset = [];
            for (var key in data.preds) {
                dataset.push({
                    label: key,
                    borderWidth: 0.1,
                    data: data.preds[key],
                    backgroundColor: "rgba(15, 171, 182, 0.75)"
                })
            }
            // Use first set
            var labels = getLabels(data.preds[Object.keys(data.preds)[0]]);     
            var chartData = {
                labels: labels,
                datasets: dataset
            };

            // Options
            var options = {
                global: {
                    responsive: true,
                    maintainAspectRatio: false
                },
                elements: {   // Don't show individual points on line graph
                    point:{
                        radius: 0
                    }
                },
                tooltips: {     // tooltip for points on current mouse x-axis position
                    mode: 'index',
                    intersect: false
                },
                scales: {
                    xAxes: [{
                        ticks: {
                          autoSkipPadding: 50
                        }
                    }],
                    yAxes: datgui.dynamicRange ? [] : [{   // Y-axis from 0 to 1
                        ticks: {
                            min: 0.0,
                            max: 1.0
                        }
                    }]
                },
                hover: {
                    onHover: function (e) {
                        if (e[0]) {
                            var frameIdx = e[0]._index;
                            show_image("../static/videos/" + data.framepaths[frameIdx], 256, 256, '');
                        }
                    },
                    mode: 'index',
                    intersect: false
                },
                animation: {
                    duration: 0
                }
            };

            var ctx = $("#chart");
            if (myLineChart) {
                myLineChart.destroy();
            }
            myLineChart = new Chart(ctx, {
                type: 'line',
                data: chartData,
                options: options,
            });
        }

        function show_image(src, width, height, alt) {
            var frameElement = document.getElementById("frame");
            if (frameElement.firstChild) {      // if element already exists
                frameElement.firstChild.src = src;
            } else {                            // make element and append to DOM
                var img = document.createElement("img");
                img.src = src;
                img.width = width;
                img.height = height;
                img.alt = alt;
                frameElement.appendChild(img);
            }
        }
    </script>
</body>
</html>